In [2]:
import sys
import pandas as pd
import numpy as np

In [4]:
top_orgs = pd.read_csv("top_orgs_to_check_checked.csv")
top_orgs.head()

,organization,type,count,updated_type,check_flag,NonProfit
0,3M Innovative Properties Company,Corporate,139,NaN,NaN,NaN
1,"AIR PRODUCTS AND CHEMICALS, INC.",Corporate,102,NaN,NaN,NaN
2,ARCH Development Corporation,Corporate,261,NaN,NaN,NaN
3,AT&T Bell Laboratories,Corporate,23,NaN,NaN,NaN
4,"ATC Technologies, Inc.",Corporate,26,NaN,NaN,NaN

In [6]:
assignees_lookedup_types = pd.read_csv("assignees_lookedup_types.csv")
assignees_lookedup_types.head()

/Users/skelley/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,patent_id,assignee_type,organization,thes_types
0,0,3930295,2.0,Signetics Corporation,Corporate
1,1,3930295,2.0,Watkins-Johnson,Corporate
2,2,3930317,6.0,The United States of America as represented by...,Government
3,3,3930366,2.0,General Motors Corporation,Corporate
4,4,3930405,0.0,The United States of America as represented by...,Government

In [7]:
dfmerged = pd.merge(top_orgs, assignees_lookedup_types, on = "organization", how = "outer")

In [8]:
dfmerged.head()

,organization,type,count,updated_type,check_flag,NonProfit,Unnamed: 0,patent_id,assignee_type,thes_types
0,3M Innovative Properties Company,Corporate,139.0,NaN,NaN,NaN,50595.0,5935380,2.0,Corporate
1,3M Innovative Properties Company,Corporate,139.0,NaN,NaN,NaN,51343.0,5963573,2.0,Corporate
2,3M Innovative Properties Company,Corporate,139.0,NaN,NaN,NaN,51625.0,5974070,2.0,Corporate
3,3M Innovative Properties Company,Corporate,139.0,NaN,NaN,NaN,51637.0,5974757,2.0,Corporate
4,3M Innovative Properties Company,Corporate,139.0,NaN,NaN,NaN,52038.0,5989434,2.0,Corporate

In [9]:
dfmerged['final_type'] = dfmerged.apply(lambda row : row['updated_type'] if not pd.isnull(row['updated_type']) else row['thes_types'],axis=1)

In [12]:
dfmerged[~pd.isnull(dfmerged['updated_type'])].head(30)

,organization,type,count,updated_type,check_flag,NonProfit,Unnamed: 0,patent_id,assignee_type,thes_types,final_type
747,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,47804.0,5834271,2.0,Corporate,Academic
748,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,51391.0,5965493,2.0,Corporate,Academic
749,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,54638.0,6090590,2.0,Corporate,Academic
750,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,57979.0,6225075,2.0,Corporate,Academic
751,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,58718.0,6255347,2.0,Corporate,Academic
752,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,60807.0,6335168,2.0,Corporate,Academic
753,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,60845.0,6337207,2.0,Corporate,Academic
754,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,61256.0,6355476,2.0,Corporate,Academic
755,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,61445.0,6362325,2.0,Corporate,Academic
756,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,62375.0,6399335,2.0,Corporate,Academic
757,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,64210.0,6468808,2.0,Corporate,Academic
758,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,65016.0,6500652,2.0,Corporate,Academic
759,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,65345.0,6514995,2.0,Corporate,Academic
760,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,66781.0,6569997,2.0,Corporate,Academic
761,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,66844.0,6573296,2.0,Corporate,Academic
762,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,68895.0,6659613,2.0,Corporate,Academic
763,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,70790.0,6737054,2.0,Corporate,Academic
764,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,71749.0,6777439,2.0,Corporate,Academic
765,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,73731.0,6858135,2.0,Corporate,Academic
766,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,74924.0,6905076,2.0,Corporate,Academic
767,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,74928.0,6905210,2.0,Corporate,Academic
768,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,76973.0,6987132,2.0,Corporate,Academic
769,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,79735.0,7097988,2.0,Corporate,Academic
770,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,82852.0,7223563,2.0,Corporate,Academic
771,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,85365.0,7314618,2.0,Corporate,Academic
772,Advanced Research and Technology Institute,Corporate,26.0,Academic,NaN,NaN,86244.0,7348005,2.0,Corporate,Academic
1654,American Dental Association Health Foundation,Corporate,57.0,Ambiguous,NaN,NaN,2888.0,4018600,2.0,Corporate,Ambiguous
1655,American Dental Association Health Foundation,Corporate,57.0,Ambiguous,NaN,NaN,4578.0,4078921,2.0,Corporate,Ambiguous
1656,American Dental Association Health Foundation,Corporate,57.0,Ambiguous,NaN,NaN,8466.0,4217264,2.0,Corporate,Ambiguous
1657,American Dental Association Health Foundation,Corporate,57.0,Ambiguous,NaN,NaN,9160.0,4243763,2.0,Corporate,Ambiguous

In [49]:
dfmerged.to_csv('merged_org_types.csv')